<div>{{ section.settings.header }}</div>

{% schema %}
  {
    "name": "about-us",
    "settings": [
      {
        "type": "text",
        "label": "header",
        "id": "header"

      }
    ]
  }
{% endschema %}