.hero-carousel-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.hero-carousel img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


