.product-info-container {
  width: 100%;
}

.product-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-image {
  object-fit: cover;
}