.product-grid-container {
  width: 100%;
}

.product-grid-wrapper {
  width: 100%;
}

.products-grid {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
