.product-info-container {
  width: 100%;
}

.product-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-image {
  object-fit: cover;
  padding-top: 2rem;
}

.product-context-container {
  position: relative;
  width: 50%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.product-context {
  transform: translateY(100%);
  top: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.product-title {
  max-width: 250px;
  background-color: var(--button-color);
  width: 100%;
  border-radius: 6px;
}

.quantity-accordion {
  display: flex;
  padding-top: 2rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
