.product-info-container {
  width: 100%;
}

.product-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-image {
  object-fit: cover;
  padding-top: 2rem;
}

.product-context-container {
  max-width: 500px;
  position: relative;
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.product-context {
  transform: translateY(100%);
  top: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.product-title {
  max-width: 500px;
  background-color: var(--button-color);
  width: 100%;
  border-radius: 6px;
}

.product-info {
  padding-top: 2rem;
}

/* Accordion */ 
.quantity-accordion {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

/* Add To Cart Button */

.atc-button {
  border: none;
}

.atc-link {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  display: block;
  height: 28px;
  position: relative;
  color: #000;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffe093;
  background-color: var(--button-color);
}

.atc-link:hover {
  color: blue;
}


/* Alert */
.alert-message {
  position: fixed;
  top: 200px;
  right: 200px;
  background-color: #4caf50;
  color: green;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  display: none;
}

